* {
    box-sizing: border-box;
    font-family: Arial;
}

#table-area {
    margin-top: 15px;
}

#my-input {
    padding: 5px;
}

table,
th,
td {
    border: 1px solid black;
    border-collpase: collapse;
}

th,
td {
    padding: 5px;
}