@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    background-color: #1DA1F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
}

.post-container{
    width: 65%;
   
}

.filter-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.filter-post > h1{
    
    margin:15px 0;
}
.filter-post > .mypost{

    width: 100%;
    padding: 15px;
    font-size: 16px;
    border:none;
}

.mypost:focus{
    outline: none;
    
}

.post{
    position: relative;
    display: flex;
    background-color: #45b0f3;
    margin: 30px 0;
    padding: 20px;
}

.post-number{
    position: absolute;
    top: -15px;
    left: -15px;
    color:#45b0f3 ;
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 999px;
    font-size: 15px;
}

 .post > .post-body{
     margin-left: 20px;
    
 }
 p{
     font-size: 20px;
 }

 .post > .post-body > h3 {
     margin-top: 10px;
     margin-bottom: 20px;
 }

.loader{
    opacity: 0.5;
    display: flex;
    position: absolute;
    bottom: 50px;
    transition: opacity 0.3s ease-in;
}

.loader .show{
    opacity: 1;
}

.circle{
    margin: 5px;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: bounce 0.5s ease-in infinite;
}

.circle:nth-of-type(2){
    animation-delay: 0.1s;
}
.circle:nth-of-type(3){
    animation-delay: 0.2s;
}
@keyframes bounce{
    0%,
    100%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-10px);
    }
}